---
import Layout from '@/layouts/Layout.astro'

import Container from '@/components/Container.astro'
import WorkItem from '@/components/WorkItem.astro'
import StudyItem from '@/components/StudyItem.astro'

import MyWorks from '@/constants/MyWorks'
import MyStudies from '@/constants/MyStudies'
---

<Layout language="en">
    <div class="w-full flex flex-col gap-10 py-12">
        <Container class="py-5 mx-auto mb-11">
            <img
                src={'/images/me.jpg'}
                alt="Javier Pérez Romero"
                width={200}
                height={200}
                decoding="async"
                loading="eager"
                class={'size-12 md:size-16 lg:size-28 rounded-full object-cover object-top mb-8'}
            />
            <h1 class="text-3xl md:text-4xl lg:text-5xl mb-8 font-semibold">
                Javier Pérez Romero (CocoDev)
            </h1>
            <p
                class="text-lg md:text-xl lg:text-2xl opacity-80 mt-5 max-w-[90%] text-pretty"
            >
                I am a <span class="text-red-300">software developer</span> settled
                in <span class="text-yellow-200">Gran Canaria,</span>
                <span class="text-blue-300">Canary Islands,</span> Spain. I am currently
                studying a degree in <span class="text-green-200"
                    >Computer Engineering</span
                > at the University of Las Palmas de Gran Canaria (ULPGC).
            </p>
        </Container>
        <Container id="work">
            <h2
                class="text-2xl md:text-3xl lg:text-4xl mb-5 md:mb-8 lg:mb-9 font-semibold"
            >
                My Work
            </h2>
            <div class="flex flex-col gap-y-5">
                {
                    MyWorks.map((item) => {
                        const { title, description, image, techs, date, link } =
                            item
                        return (
                            <WorkItem
                                title={title}
                                description={description.en}
                                image={image}
                                techs={techs}
                                date={date.replaceAll(
                                    'Actualmente',
                                    'Currently',
                                )}
                                link={link}
                            />
                        )
                    })
                }
            </div>
        </Container>
        <Container id="studies">
            <h2
                class="text-2xl md:text-3xl lg:text-4xl mb-5 md:mb-8 lg:mb-9 font-semibold"
            >
                Mis Estudios
            </h2>
            <div class="flex flex-col gap-y-5">
                {
                    MyStudies.map((item) => {
                        const { title, description, image, date, link } = item
                        return (
                            <StudyItem
                                title={title.en}
                                description={description}
                                image={image}
                                date={date.replaceAll(
                                    'Actualmente',
                                    'Currently',
                                )}
                                link={link}
                            />
                        )
                    })
                }
            </div>
        </Container>
    </div>
</Layout>
