---
import Layout from '@/layouts/Layout.astro'

import Container from '@/components/Container.astro'
import WorkItem from '@/components/WorkItem.astro'
import StudyItem from '@/components/StudyItem.astro'
import Badge from '@/components/Badge.astro'

import MyWorks from '@/constants/MyWorks'
import MyStudies from '@/constants/MyStudies'
import SocialMedia from '@/constants/SocialMedia'
import Slider from '@/components/Slider.astro'
---

<Layout language="es">
    <div class="w-full flex flex-col gap-10 py-12">
        <Container class="py-5 mx-auto mb-11">
            <img
                src={'/images/me.jpg'}
                alt="Javier Pérez Romero"
                width={200}
                height={200}
                decoding="async"
                loading="eager"
                class={'size-12 md:size-16 lg:size-28 rounded-full object-cover object-top mb-8'}
            />
            <h1 class="text-3xl md:text-4xl lg:text-5xl mb-8 font-semibold">
                Javier Pérez Romero (CocoDev)
            </h1>
            <p
                class="text-lg md:text-xl lg:text-2xl opacity-80 mt-5 max-w-[90%] text-pretty"
            >
                Soy un <span class="text-red-300"
                    >desarrollador de software</span
                > que vive en
                <span class="text-yellow-200">Gran Canaria,</span>
                <span class="text-blue-300">Islas Canarias,</span> España. Actualmente,
                estudio un grado en <span class="text-green-200"
                    >Ingeniería Informática</span
                > en la Universidad de Las Palmas de Gran Canaria (ULPGC).
            </p>
        </Container>

        <Container
            class="-mt-20 py-2 mx-auto border-l-2 border-gray-500 flex flex-row gap-28"
            id="socialmedia"
        >
            {
                SocialMedia.map((item) => {
                    const { name, link, icon } = item
                    return (
                        <a
                            href={link}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="size-8 md:size-10 lg:size-12"
                        >
                            <Badge icon={icon}>{name}</Badge>
                        </a>
                    )
                })
            }
        </Container>
        <Container id="work">
            <h2
                class="text-2xl md:text-3xl lg:text-4xl mb-5 md:mb-8 lg:mb-9 font-semibold"
            >
                Mi Trabajo
            </h2>
            <Slider class="flex flex-col gap-y-5 relative">
                {
                    MyWorks.map((item) => {
                        const { title, description, image, techs, date, link } =
                            item
                        return (
                            <WorkItem
                                title={title}
                                description={description.es}
                                image={image}
                                techs={techs}
                                date={date}
                                link={link}
                            />
                        )
                    })
                }
            </Slider>
        </Container>
        <Container id="studies">
            <h2
                class="text-2xl md:text-3xl lg:text-4xl mb-5 md:mb-8 lg:mb-9 font-semibold"
            >
                Mis Estudios
            </h2>
            <div class="flex flex-col gap-y-5 relative">
                <div
                    class="w-[3px] h-full py-2 absolute top-0 -left-2 md:-left-7 bg-gray-500 rounded opacity-50"
                >
                    {
                        MyStudies.map((item) => {
                            return (
                                <div class="size-2 -ml-[2.5px] mt-[10.4rem] md:mt-[11.5rem] first:mt-3 md:first:mt-4 bg-gray-400 rounded-full scroll" />
                            )
                        })
                    }
                </div>
                <ul class="ml-5 max-w-2/3 md:ml-0 md:max-w-full">
                    {
                        MyStudies.map((item) => {
                            const { title, description, image, date, link } =
                                item
                            return (
                                <li>
                                    <StudyItem
                                        title={title.es}
                                        description={description}
                                        image={image}
                                        date={date.replaceAll(
                                            'Actualmente',
                                            'Currently',
                                        )}
                                        link={link}
                                    />
                                </li>
                            )
                        })
                    }
                </ul>
            </div>
        </Container>
    </div>
</Layout>
