---
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import Me from '@/assets/images/me.jpg'
import Container from '@/components/Container.astro'
import WorkItem from '@/components/WorkItem.astro'

const MYWORKS = [
    {
        title: 'Ardens.es',
        description: 'The website of Ardens, a clothes selling company',
        techs: [
            'Astro',
            'CSS',
            'TypeScript',
            'Snipcart',
            'TailwindCSS',
            'JavaScript',
        ],
        date: 'June 2024',
        link: 'https://ardens.es',
        image: 'https://ardens.es/favicon.svg',
    },
]
---

<Layout>
    <div class="w-full flex flex-col gap-10 py-12">
        <Container class="py-5 mx-auto mb-11">
            <Image
                src={Me}
                alt="Javier Pérez Romero"
                width={200}
                height={200}
                decoding="async"
                loading="eager"
                class={'size-12 md:size-16 lg:size-28 rounded-full object-cover object-top mb-8'}
            />
            <h1 class="text-3xl md:text-4xl lg:text-6xl mb-8">
                Javier Pérez Romero
            </h1>
            <p
                class="text-lg md:text-xl lg:text-2xl opacity-80 mt-5 max-w-[550px] text-pretty"
            >
                I am a software developer settled in Gran Canaria, Canary
                Islands, Spain. I am currently studying a degree in Computer
                Engineering at the University of Las Palmas de Gran Canaria.
            </p>
        </Container>
        <Container id="work">
            <h2 class="text-3xl md:text-4xl lg:text-6xl mb-5 md:mb-8 lg:mb-11">
                My Work
            </h2>
            {
                MYWORKS.map((item) => {
                    const { title, description, image, techs, date, link } =
                        item
                    return (
                        <WorkItem
                            title={title}
                            description={description}
                            image={image}
                            techs={techs}
                            date={date}
                            link={link}
                        />
                    )
                })
            }
        </Container>
    </div>
</Layout>
