---
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import Me from '@/assets/images/me.jpg'
import Container from '@/components/Container.astro'
import WorkItem from '@/components/WorkItem.astro'

const MYWORKS = [
    {
        title: 'LionRP',
        description:
            'Un servidor de juegos de rol FiveM para GTA V. También la página web de LionCommunity.',
        techs: [
            'HTML',
            'CSS',
            'JavaScript',
            'Lua',
            'Astro',
            'TailwindCSS',
            'MariaDB',
            'MySQL',
        ],
        date: '2021 - Actualmente',
        link: 'https://lioncommunity.es',
        image: 'https://lioncommunity.es/favicon.svg',
    },
    {
        title: 'Bots de Discord',
        description:
            'Una colección de bots de Discord creados con Discord.js y Node.js para múltiples usos.',
        techs: ['NodeJS', 'DiscordJS', 'JavaScript', 'MongoDB'],
        date: '2021 - Actualmente',
        image: 'https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/62fddf0fde45a8baedcc7ee5_847541504914fd33810e70a0ea73177e%20(2)-1.png',
    },
    {
        title: 'Ardens.es',
        description: 'El sitio web de Ardens, una empresa de venta de ropa.',
        techs: [
            'Astro',
            'CSS',
            'TypeScript',
            'Snipcart',
            'TailwindCSS',
            'JavaScript',
            'MySQL',
        ],
        date: 'Junio 2024 - Julio 2024',
        link: 'https://ardens.es',
        image: 'https://ardens.es/favicon.svg',
    },
]
---

<Layout language="es">
    <div class="w-full flex flex-col gap-10 py-12">
        <Container class="py-5 mx-auto mb-11">
            <Image
                src={Me}
                alt="Javier Pérez Romero"
                width={200}
                height={200}
                decoding="async"
                loading="eager"
                class={'size-12 md:size-16 lg:size-28 rounded-full object-cover object-top mb-8'}
            />
            <h1 class="text-3xl md:text-4xl lg:text-5xl mb-8 font-semibold">
                Javier Pérez Romero (CocoDev)
            </h1>
            <p
                class="text-lg md:text-xl lg:text-2xl opacity-80 mt-5 max-w-[90%] text-pretty"
            >
                Soy un <span class="text-red-300"
                    >desarrollador de software</span
                > que vive en
                <span class="text-yellow-200">Gran Canaria,</span>
                <span class="text-blue-300">Islas Canarias,</span> España. Actualmente,
                estudio un grado en <span class="text-green-200"
                    >Ingeniería Informática</span
                > en la Universidad de Las Palmas de Gran Canaria (ULPGC).
            </p>
        </Container>
        <Container id="work">
            <h2
                class="text-2xl md:text-3xl lg:text-4xl mb-5 md:mb-8 lg:mb-9 font-semibold"
            >
                Mi Trabajo
            </h2>
            <div class="flex flex-col gap-y-5">
                {
                    MYWORKS.map((item) => {
                        const { title, description, image, techs, date, link } =
                            item
                        return (
                            <WorkItem
                                title={title}
                                description={description}
                                image={image}
                                techs={techs}
                                date={date}
                                link={link}
                            />
                        )
                    })
                }
            </div>
        </Container>
    </div>
</Layout>
